<div class="navbar">
  <div class="orange-circle"></div>
  <div class="purple-oval"></div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="266"
    height="128"
    viewBox="0 0 266 128"
    fill="none"
    class="red-bean"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M202.62 260.909C291.568 219.458 338.71 50.5169 264.003 9.46884C189.295 -31.5792 179.866 79.2148 105.602 120.858C31.337 162.501 -14.8063 194.455 4.39096 250.208C23.5882 305.961 113.671 302.361 202.62 260.909Z"
      fill="#F9818E"
    />
  </svg>
  <div class="step">
    <div class="stepNum" [ngClass]="currentPath === '/' ? 'active' : ''">1</div>

    <div class="stepInfo">
      <span>STEP 1</span>
      <p>YOUR INFO</p>
    </div>
  </div>

  <div class="step">
    <div
      class="stepNum"
      [ngClass]="currentPath === '/select-plan' ? 'active' : ''"
    >
      2
    </div>

    <div class="stepInfo">
      <span>STEP 2</span>
      <p>SELECT PLAN</p>
    </div>
  </div>

  <div class="step">
    <div class="stepNum" [ngClass]="currentPath === '/adds-on' ? 'active' : ''">
      3
    </div>

    <div class="stepInfo">
      <span>STEP 3</span>
      <p>ADDS-ON</p>
    </div>
  </div>

  <div class="step">
    <div class="stepNum" [ngClass]="currentPath === '/summary' ? 'active' : ''">
      4
    </div>

    <div class="stepInfo">
      <span>STEP 4</span>
      <p>SUMMARY</p>
    </div>
  </div>
</div>
