
.form-control {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  >div {
    display: flex;
    justify-content: space-between;
  }

  >div p {
    margin: 0;
    font-size: 14px;
    color: #EE374A;
    font-weight: 700;
  }
}
.form-control label {
  font-weight: 400;
  margin-bottom: 10px;
  font-size: 14px;
}

.form-control input {
  border: 1px solid #D6D9E6;
  padding: 13px 10px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Ubuntu';
}

.form-control input:focus {
  outline: none;
  border: 2px solid #483EFF;
}

.is-invalid {
  border: 1px solid #EE374A !important;
}

@media (max-width: 768px) {

  .form-control label {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 5px;
  }
  .form-control input {
    padding: 13px;
  }
}
