<h1>Personal Info</h1>
<p>Please provide your name, email, address and phone number.</p>

<form
  class="form-group"
  [formGroup]="personalInfoForm"
  (ngSubmit)="handleSubmit()"
>
  <div class="form-control">
    <div>
      <label for="name">Name</label>
      <p
        *ngIf="
          formControl['name'].errors?.['required'] && formControl['name'].touched && formControl['name'].invalid
        "
      >
        This field is required
      </p>
    </div>
    <input
      type="text"
      name="name"
      placeholder="e.g Stephen King"
      formControlName="name"
      [ngClass]="
        formControl['name'].touched && formControl['name'].invalid
          ? 'is-invalid'
          : ''
      "
    />
  </div>

  <div class="form-control">
    <div>
      <label for="email">Email</label>
      <p
        *ngIf="
      formControl['email'].errors?.['required'] && formControl['email'].touched && formControl['email'].invalid
    "
      >
        This field is required
      </p>
    </div>
    <input
      type="email"
      name="email"
      placeholder="e.g stephenking@lorem.com"
      formControlName="email"
      [ngClass]="
        formControl['email'].touched && formControl['email'].invalid
          ? 'is-invalid'
          : ''
      "
    />
  </div>

  <div class="form-control">
    <div>
      <label for="phone">Phone Number</label>
      <p
        *ngIf="
    formControl['phone'].errors?.['required'] && formControl['phone'].touched && formControl['phone'].invalid
  "
      >
        This field is required
      </p>
    </div>
    <input
      type="text"
      name="phone"
      placeholder="e.g +1 234 567 890"
      formControlName="phone"
      [ngClass]="
        formControl['phone'].touched && formControl['phone'].invalid
          ? 'is-invalid'
          : ''
      "
    />
  </div>

  <input
    type="submit"
    value="Next Step"
    [disabled]="personalInfoForm.invalid"
  />
</form>
